<ul class="nav nav-tabs nav-fill mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'students:quiz_list' %}">
      <img src="/static/img/free-icon-brain-3406898.png" alt="Icon" class="tab-icon"> Доступные викторины
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'students:taken_quiz_list' %}">
      <img src="/static/img/free-icon-results-2065169.png"  alt="Icon" class="tab-icon"> Результаты
    </a>
  </li>
</ul>
