{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <!--<div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>-->
  <h2 class="mb-3">{{ quiz.name }}</h2>
  <div class="row">
    <div class="col-md-7">
      <p class="lead">{{ question.text }}</p>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button id="next_question" type="submit" class="btn btn-primary">Следующий вопрос</button>
      </form>
    </div>

<div class="col-md-5">
  <p class="lead">Чат</p>
  <div class="form-group mt-3">
    <input id="message" class="form-control">
    <div class="d-flex align-items-center justify-content-between mt-3">
      <button id="send-message" class="btn btn-primary">Отправить</button>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="send-to-instructor">
        <label class="form-check-label" for="send-to-instructor">Отправить преподавателю</label>
      </div>
    </div>
  </div>
  <div id="chat" class="overflow-auto" style="height: 150px; overflow-y: auto;">
    {% for message in quiz.room.messages.all %}
      <div class="message mb-2">
        <small class="text-muted">{{ message.user.username }}:</small>
        <div>{{ message.content }}</div>
      </div>
    {% empty %}
      <p>Нет сообщений.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block javascript %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const chat = document.querySelector('#chat');
      const messageInput = document.querySelector('#message');
      const sendMessageButton = document.querySelector('#send-message');
      const nextQuestionButton = document.querySelector('#next_question');

      function addMessageToChat(message) {
        const messageElement = document.createElement('div');
        messageElement.className = 'message mb-2';
        messageElement.innerHTML = `
          <small class="text-muted">${message.user_name}:</small>
          <div>${message.content}</div>
          <small class="text-muted">${message.date_added}</small>
        `;
        chat.appendChild(messageElement);
      }

      function sendMessage() {
        console.log("sendMessage() function called");
        const content = messageInput.value;
        const url = '{% url "students:add_message" %}';

        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({ content })
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'ok') {
            addMessageToChat(data.data);
            messageInput.value = '';
          }
        })
        .catch(error => console.error(error));
      }

      function showLog() {
        console.log(",kmjnhgbfdvscs");
      }
      sendMessageButton.addEventListener('click', sendMessage);
      nextQuestionButton.addEventListener('click', showLog);
    });
  </script>
{% endblock %}