{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Викторина</th>
          <th>Предмет</th>
          <th>Команда</th>
          <th>Результат</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td>{{ taken_quiz.quiz.name }}</td>
            <td>{{ taken_quiz.quiz.subject }}</td>
            <td>{{ taken_quiz.team.name }}</td>
            <td>{{ taken_quiz.score}}</td>
            <td class="text-right">
              <a href="{% url 'students:exportStudent' taken_quiz.quiz.id taken_quiz.student.user_id%}" class="btn btn-primary">Загрузить</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">Вы пока не прошли ни одной викторины.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
