{% extends 'base.html' %}

{% block content %}
  <h3>Добро пожаловать в приложение для групповых викторин и тестирований!</h3>
  <p class="lead">
    Здесь преподаватели могут создавать викторины и тесты для своих учеников. Наша платформа позволяет создавать командные викторины и тесты с различными типами вопросов, включая множественный выбор и открытый ответ.
    </p>
  <hr>
  <p class="lead">
    Если у вас уже есть аккаунт перейдите по <a href="{% url 'login' %}">этой ссылке</a>. Если у вас еще нет аккаунта, создайте аккаунт
    <a href="{% url 'student_signup' %}">ученика</a> или <a href="{% url 'teacher_signup' %}">преподавателя</a>.
  </p>
{% endblock %}
